<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Dodaj korisnika</title>
    </h:head>
    <h:body>
        <h:form>               
            <h2>Dodaj korisnika</h2>
            <h:panelGrid columns="2">
                <h:outputLabel value="Username: " />
                <h:inputText value="#{korisnikControler.username}"/>      
                <p:selectCheckboxMenu id="menu" value="#{korisnikControler.selectedTim}" label="Timovi" converter="#{timConverter}"
                              filter="true" filterMatchMode="startsWith" panelStyle="width:250px">
                    <f:selectItems value="#{korisnikControler.timList}" var="t" itemLabel="#{t.name}" itemValue="#{t}" />
                </p:selectCheckboxMenu>
                <h:commandButton action="#{korisnikControler.saveUser()}" value="Dodaj korisnika"/>
            </h:panelGrid>
        </h:form>
    </h:body>
</html>

