<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Dodaj tim</title>
    </h:head>
    <h:body>
         <h:form>               
            <h2>Dodaj tim</h2>
              <h:messages id="errorMessages" style="color:red;margin:8px;" />
        <br></br>
            <h:panelGrid columns="2">
                <h:outputLabel value="Ime " />
                <h:inputText value="#{timControler.name}"/>     
                <h:outputLabel value="Opis" />
                <h:inputText value="#{timControler.desc}"/>
                <h:outputLabel for="menu" value="Korisnici:" />
                <p:selectCheckboxMenu id="menu" value="#{timControler.selectUsers}" label="Korisnici" converter="#{korisnikConverter}"
                              filter="true" filterMatchMode="startsWith" panelStyle="width:250px">
                    <f:selectItems value="#{timControler.usersList}" var="t" itemLabel="#{t.username}" itemValue="#{t}" />
                </p:selectCheckboxMenu>
                <h:commandButton action="#{timControler.save()}" value="Dodaj tim"/>
            </h:panelGrid>
        </h:form>
    </h:body>
</html>

