<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Dodaj projekat</title>
    </h:head>
    <h:body>
        <h:form>               
            <h2>Dodaj projekat</h2>
            <h:panelGrid columns="2">
                <h:outputLabel value="Ime projekta: " />
                <h:inputText id="name" value="#{projekatController.name}"   required="true"
                                  requiredMessage="Address is required" />   
                <h:outputLabel value="Opis projekta: " />
                <h:inputText value="#{projekatController.desc}" />  
                <h:outputLabel value="Izaberi tim: " />
                <p:selectOneMenu value="#{projekatController.tim}"  converter="#{timConverter}">
                    <f:selectItems value="#{projekatController.timList}" var="p" 
                                   itemLabel="#{p.name}" itemValue="#{p}"/>                        
                </p:selectOneMenu>
                <h:commandButton value="Dodaj projekat" action="#{projekatController.save()}"/>
                <br/>
                 <h:message for="name" style="color: red"/>
            </h:panelGrid>
        </h:form>
    </h:body>
</html>

