<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <h2>Admin panel</h2>
            <h:commandButton value="Dodaj tim" action="add_team?faces-redirect=true"/><br/>
            <h:commandButton value="Dodaj projekat" action="add_projekt?faces-redirect=true"/><br/>
            <h:commandButton value="Dodaj korisnika" action="add_user?faces-redirect=true"/>
        </h:form>
        <br />        
    </h:body>
</html>

